In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"./data/processed/covid_data_processed.csv")
df.head()

/var/folders/2y/xyqfmlln7r70b3pq9n97cm7m0000gn/T/ipykernel_75995/3129358505.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"./data/processed/covid_data_processed.csv")

,Province/State,Country/Region,Lat,Long,Date,Cases,Deaths,New_Cases,New_Deaths,Cases_7day_avg,Deaths_7day_avg,Population,Cases_per_100k,Deaths_per_100k,Case_Fatality_Rate
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Afghanistan,33.93911,67.709953,2020-01-23,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Afghanistan,33.93911,67.709953,2020-01-24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Afghanistan,33.93911,67.709953,2020-01-25,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Afghanistan,33.93911,67.709953,2020-01-26,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
%pwd

'/Users/kirankakumani/ml/data_science/covid19-dashboard'

In [8]:
df["Province/State"]=df["Province/State"].fillna('null')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Cases,Deaths,New_Cases,New_Deaths,Cases_7day_avg,Deaths_7day_avg,Population,Cases_per_100k,Deaths_per_100k,Case_Fatality_Rate
0,null,Afghanistan,33.93911,67.709953,2020-01-22,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,null,Afghanistan,33.93911,67.709953,2020-01-23,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,null,Afghanistan,33.93911,67.709953,2020-01-24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,null,Afghanistan,33.93911,67.709953,2020-01-25,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,null,Afghanistan,33.93911,67.709953,2020-01-26,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN